<div class="container page-position">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title _profile_heading">
                    <a role="button">
                        <img style="width: 20px;" src="http://localhost:8080/{{profile?.logo}}" alt="">
                        {{profile?.name}}, {{profile?.address}}
                    </a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMenu">
                <h4 class="panel-title main-items">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#menu" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Menu
                    </a>
                </h4>
            </div>
            <div id="menu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMenu">
                <div class="panel-body" *ngFor="let category of categories">
                      <!-- Item categories starts-->
                      <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingItemCategories">
                            <h4 class="panel-title item-categories">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#itemCategories" aria-expanded="true" aria-controls="headingItemCategories">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                {{category}}
                              </a>
                            </h4>
                          </div>
                          <div id="itemCategories" class="panel-collapse collapse" role="tabpanel" aria-labelledby="itemCategories">
                            <div class="panel-body">
                                <!--Table-->
                                <table class="table">
                                    <!--Table head-->
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                <!--Table head-->
                                    <!--Table body-->
                                    <tbody>
                                        <tr *ngFor="let item of items; let i = index" [attr.data-index]="i">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{item.name}} </td>
                                            <td>{{item.price}}</td>
                                            <td>
                                                <a href="#" (click)="removeItem(item)"><i class="glyphicon glyphicon-minus"></i></a>
                                                <input style="text-align: center;width: 20%; border-radius: 5px;" type="number" [(ngModel)]="item.quantity">
                                                <a href="#" (click)="addItem(item)"><i class="glyphicon glyphicon-plus"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!--Table body-->
                                </table>
                                <!--Table-->
                            </div>
                          </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOrder">
                <h4 class="panel-title main-items">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#myOrder" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        My Orders
                    </a>
                </h4>
            </div>
            <div id="myOrder" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOrder">
                <div *ngIf="orders;else noOrderToShow;" class="panel-body">
                  <!--Table-->
                  <table class="table">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            <tr *ngFor="let order of orders?.items; let i = index" [attr.data-index]="i">
                                <th scope="row">{{i+1}}</th>
                                <td>{{order.name}} </td>
                                <td>{{order.price}}</td>
                                <td>
                                    <span>{{order.quantity}}</span>
                                </td>
                                <td>{{order.subTotal}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">Total Bill</td>
                                <td>{{orders?.total}}</td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
                <ng-template #noOrderToShow>
                    <div class="panel-body">
                        You have not placed any order.
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="panel panel-default">
            <div (click)="calculateBill()" class="panel-heading" role="tab" id="headingReviewOrder">
                <h4 class="panel-title main-items">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#reviewOrders" aria-expanded="true" aria-controls="headingReviewOrder">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Review Order
                    </a>
                </h4>
            </div>
            <div id="reviewOrders" class="panel-collapse collapse" role="tabpanel" aria-labelledby="reviewOrders">
               <div *ngIf="showReview;else noItemSelected;" class="panel-body">
                    <!--Table-->
                    <table class="table">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            <tr *ngFor="let item of items; let i = index" [attr.data-index]="i">
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.name}} </td>
                                <td>{{item.price}}</td>
                                <td>
                                    <span>{{item.quantity}}</span>
                                </td>
                                <td>{{item.price * item.quantity}}</td>
                            </tr>
                            <tr>
                                <td>Total Bill</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{total}}</td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                    <button type="button" (click)="placeOrder(items)" class="btn btn-light-blue btn-lg btn-block">Place Order</button>
                </div>
                <ng-template #noItemSelected>
                    <div class="panel-body">
                        No Item Selected
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title _profile_heading">
                    <a role="button">
                        &copy;S2Infinitum Softhech Pvt Ltd.
                    </a>
                </h4>
            </div>
        </div>
    </div><!-- panel-group -->   
</div><!-- container -->

<router-outlet></router-outlet>
