._profile_heading{
    background-color: #333;
    border-color: #1f1f1f;
    color: #fff;
    text-align: center;
}

.form-control {
    padding: 0 0;
}

.main-items{
    background-color: orange;
}

.item-categories{
    background-color: gray;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.page-position {
    padding-top: 60px;
    padding-bottom: 60px;
}
